/* 

*/

/*.boxing {
    background-color: transparent;
    height: 39px;
    width: 180px;
    padding: 10px;
    /* overflow: scroll;
    margin: 30px;
    border: 2px solid rgba(255, 255, 255, 0.76);
    border-radius: 3px;
    
    
   
}

/*.nashe {
    color: rgb(255, 255, 255, 0.76);
    margin: 0px;
    padding: 9px 9px 11px 9px;
    font-size: 17px;
    text-align: center;
    
}*/

:root {
    --fondo: #181a1f;
    --colorTitulos:rgb(255, 255, 255);
    --colorTextos:rgb(255, 255, 255);
    --colorElementos:rgba(4, 235, 158, 0.596);

    --fuenteUno: 'Saira Condensed', sans-serif;
    --fuenteDos: 'Merriweather Sans', sans-serif;
    --fuenteTres: 'Open Sans', sans-serif;
    --fuenteCuatro: 'Fugaz One', sans-serif;
}

body {
    background-color: var(--fondo);
    margin: 0px;
}

#Titulo1 {
    color: var(--colorTitulos);
    font-family: var(--fuenteTres);
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    
}

#Titulo2 {
    color: var(--colorTextos);
    font-family: var(--fuenteUno);
    font-size: 30px;
    font-weight: 300;
}

li {
    list-style: none;
    
}

li a{
    text-decoration: none;
    font-size: 24px;
    color: var(--colorTextos);
    font-family: var(--fuenteDos);
    list-style: none
}

#Titulo3 {
    font-family: var(--fuenteUno);
    font-size: 45px;
    font-weight: 700;
    color: var(--colorTitulos);
}

.Caja {
    list-style: none;
    font-family: var(--fuenteUno);
    font-weight: 300;
    font-size: 24px;
    color: var(--colorTextos);

}

p {
    font-size: 23px;
    font-family: var(--fuenteDos);
    font-weight: 500;
    color: var(--colorTextos);
}

h1 {
    font-family: var(--fuenteUno);
    color: var(--colorTitulos);
   

}

a {
    font-family: var(--fuenteUno);
    list-style: none;
    text-decoration: none;
    color: var(--colorTextos);
}

.Cuestionario {
    font-family: var(--fuenteUno);
    color: var(--colorTextos);

}

.navbar {
    background-color: #fd3c3d;
    display: flex;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 8px 0;
       
}

.contenedor {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    align-items: center;
 }
    
    
.navlista {
    display: flex;
     width: 100%;
     justify-content: end;
    
}

.navul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
  }

 .navli {
     display: flex;
     justify-content: space-between;
     width: 50%;
   
 }

.imgtraining {
    background-position: center;
    background-size: cover;
    height: 600px;
    background-image: url("C:/Users/nicko/Desktop/CURSO DISEÑO WEB/Master Training/Curso-web/imagenes/musculos.jpeg");
    
}

.logo {
    display: flex;
    justify-content: start;
    width: 100%;
}

.cuadroDeTexto {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;

}

.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.personalt {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 1px;
    font-weight: normal;
}

.transformate {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 78px;
    font-weight: normal;
    line-height: 78px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Fugaz One', cursive;
    margin: 0;
}

.lorem {
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}

.boxPadre {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    
}

.boxHijo1 {
    display: flex;
    height: 420px;
    width: 350px;
    margin-right: 5px;
    align-items: center;
    background-image: url("imagenes/nivelinicial.jpeg");
    background-size: cover;

}

.boxHijo2 {
    display: flex;
    height: 420px;
    width: 350px;
    margin-right: 5px;
    background-image: url("imagenes/nivelintermedio.jpeg");
    background-size: cover;
    background-position: center;
}

.boxHijo3 {
    display: flex;
    height: 420px;
    width: 350px;
    background-image: url("imagenes/nivelavanzado.jpeg");
    background-size: cover;
    background-position: center;

}




.separar {
    height: 600px;
    background-color: var(--fondo);
}








    


