:root {
    --fondo: #181a1f;
    --colorTitulos:rgb(255, 255, 255);
    --colorTextos:rgb(255, 255, 255);
    --colorElementos:rgba(4, 235, 158, 0.596);

    --fuenteUno: 'Saira Condensed', sans-serif;
    --fuenteDos: 'Merriweather Sans', sans-serif;
    --fuenteTres: 'Open Sans', sans-serif;
    --fuenteCuatro: 'Fugaz One', sans-serif;
}

body {
    background-color: var(--fondo);
    margin: 0px;
}
/* -------------------- startnavbar -------------------- */

.navbar {
    background-color: #fd3c3d;
    display: flex;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 8px 0;
       
}

.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    align-items: center;
 }

.logo {
    display: flex;
}


#Titulo1 {
    color: var(--colorTitulos);
    font-family: var(--fuenteTres);
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    
}

#Titulo2 {
    color: var(--colorTextos);
    font-family: var(--fuenteUno);
    font-size: 30px;
    font-weight: 300;
}

.navlista {
    display: flex;
    width: 100%;
    
}

.navul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

 .navli {
     display: flex;
     width: 100%;
     justify-content: flex-end;
   
 }



li {
    list-style: none;
    margin: 0 20px;
    
}

li a{
    text-decoration: none;
    font-size: 24px;
    color: var(--colorTextos);
    font-family: var(--fuenteDos);
    list-style: none
}
/* -------------------- end navbar -------------------- */

/* -------------------- text style -------------------- */

p {
    font-size: 23px;
    font-family: var(--fuenteDos);
    font-weight: 500;
    color: var(--colorTextos);
}

h1 {
    font-family: var(--fuenteUno);
    color: var(--colorTitulos);
   

}

h2 {
    font-family: var(--fuenteUno);
    color: var(--colorTitulos);
}

a {
    font-family: var(--fuenteUno);
    list-style: none;
    text-decoration: none;
    color: var(--colorTextos);
}

/* -------------------- text style -------------------- */

/* -------------------- star hero -------------------- */

.imgsize {
    width: 100%;
    height: 600px;
}

.imgtraining {
    background-position: center;
    background-size: cover;
    background-attachment: local;
    background-image: url("./imagenes/hero.jpeg");
    width: 100%;
    height: 100%;
}

.cuadroDeTexto {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;

}

.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.personalt {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 1px;
    font-weight: normal;
}

.transformate {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 78px;
    font-weight: normal;
    line-height: 78px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Fugaz One', cursive;
    margin: 0;
}

.lorem {
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}
 /* -------------------- end hero -------------------- */
 
 /* -------------------- separationcontent -------------------- */
 .barseparation {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    background-color: var(--fondo);

}

.lineseparation {
    height: 1px;
    width: 80%;
    background-color: #FFFFFF;
    margin-top: 20px;
    filter: opacity(0.5);
    
}

/* -------------------- separationcontent -------------------- */

/* -------------------- training plan -------------------- */

.plansubtitle {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: var(--fondo);
}

.planRecom {
    font-size: 44px;
    color: #FFFFFF;
}

.planRecom:hover {
    color: #fd3c3d;
    transition-duration: 500ms;
    font-size: 50px;
}

/* -------------------- training plan -------------------- */

/* -------------------- niveles -------------------- */

.nivelbox {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 500px;
    background-color: var(--fondo);
    position: relative;
    
}

.box1 {
    display: flex;
    flex-direction: column;
    border-right: #181a1f solid 2px;
}

.boxImg1 {
    display: flex;
    width: 370px;
    height: 64%;
    background-color: black;
    align-items: center;
    background-image: url("imagenes/nivelinicial.jpeg");
    background-size: cover;
    filter: grayscale(1);
}

.boxImg1:hover {
    filter: grayscale(0);
    transition-duration: 500ms;

}


.boxInfo1 {
    display: flex;
    flex-direction: column; 
    height: 36%;
    width: 370px;
    background-color: #fd3c3d;
}

/* ------------------------------------------------------------ */

.box2 {
    display: flex;
    flex-direction: column;
    border-right: #181a1f solid 2px;
}

.boxImg2 {
    display: flex;
    height: 64%;
    width: 370px;
    background-color: black;
    background-image: url("imagenes/nivelintermedio.jpeg");
    background-size: cover;
    filter: grayscale(1);

}

.boxImg2:hover {
    filter: grayscale(0);
    transition-duration: 500ms;

}


.boxInfo2 {
    display: flex;
    flex-direction: column; 
    height: 36%;
    width: 370px;
    background-color: #fd3c3d;
}

/* ------------------------------------------------------------ */

.box3 {
    display: flex;
    flex-direction: column;
    border-right: #181a1f solid 2px;
}

.boxImg3 {
    display: flex;
    height: 64%;
    width: 370px;
    background-color: black;
    background-image: url("imagenes/nivelavanzado.jpeg");
    background-size: cover;
    filter: grayscale(1);

}

.boxImg3:hover {
    filter: grayscale(0);
    transition-duration: 500ms;

}


.boxInfo3 {
    display: flex;
    flex-direction: column; 
    height: 36%;
    width: 370px;
    background-color: #fd3c3d;
}

/* ------------------------------------------------------------ */

.Precios {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    margin: 0px;
    padding: 20px 0 0 0;
    line-height: 2;

}

.Niveles {
    width: 100%;
    font-size: 28px;
    line-height: 1.5;
    font-family: 'Fugaz One';
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ion-icon {
    font-size: 30px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 10px;


}

.flecha {
    text-align: center;
}

/* ------------------------------------------------------------ */

/* --------------------- container info --------------------- */

.info {
    height: 850px;
    background-color: var(--fondo);
    margin: 0;
    padding: 80px 0 20px;
    width: 100%;
}

.positionInfo {
    width: 100%;

}

.contenedorInfo {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.Nuestro {
    display: flex;
    justify-content: center;
    font-size: 60px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Fugaz One';
    margin: 0 0 40px 0;
    color: #fd3c3d;
}

.nuestroP {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.cuadroContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cuadroText {
    display: flex;
    width: 500px;
    margin-left: 50px;
    flex-direction: column;
    text-align: center;
}

.cuadroImg {
    display: flex;
    width: 500px;
    height: 550px;
    background-color: black;
}

.imagencuadro {
    width: 100%;
}

.titulobox {
    text-align: center;
    margin: 20px;
    width: 100%;
    font-size: 40px;

}

.pbox1 {
    display: flex;
    margin: 30px 0 30px 0;
    width: 100%;
    font-size: 20px;
   
}

.pbox2 {
    display: flex;
    margin: 30px 0 30px 0;
    width: 100%;
    font-size: 20px;
}

.pbox3 {
    display: flex;
    margin: 30px 0 30px 0;
    width: 100%;
    font-size: 20px;
    
}

/* --------------------- container info end --------------------- */

/* ------------------------------------------ form ------------------------------------------*/


.formcontainer {
     display: flex;
     width: 100%;
     height: 570px;
     justify-content: center;
     background-image: url("./imagenes/formbackground.jpeg");
     background-size: cover;
     background-position: center;
     flex-direction: column;

 }

 .formsize {
    display: flex;
    height: 570px;
    flex-direction: column;
    justify-content: center;
} 

 .formtext {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 30%;
     font-size: 40px;
     color: #fd3c3d;
 }

.colortext {
    color: #fd3c3d;
}

/* ------------------------------------------ separation ------------------------------------------*/

.barseparation1 {
    display: flex;
    justify-content: center;
    width: 100%;

}

.lineseparation1 {
    height: 2px;
    width: 3%;
    background-color: #FFFFFF;
    filter: opacity(0.4);
    display: flex;
    justify-content: flex-start;
    
}

/* ------------------------------------------ separation ------------------------------------------*/

.casillasize {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 19%;
    padding: 15px;

}

 .formcasilla {
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 
 form {
     text-align: center;
 }

 input {
     background-color: black;
     font-size: 20px;
     border: 2px solid white;
     height: 45px;
     outline: 0;
     width: 100%;
     padding: 0 0 0 15px;
     color: white;
 }

 input:focus {
     border: 2px solid #fd3c3d;
     transition-duration: 500ms
 }

 textarea {
     background-color: black;
     font-size: 20px;
     border: 2px solid white;
     outline: 0;
     width: 100%;
     padding: 15px 0 0 15px;
     color: white;
 }

textarea:focus {
    border: 2px solid #fd3c3d;
    transition-duration: 500ms;
}

 .input1 {
    padding: 15px;
    display: flex;
    height: fit-content;
    width: 100%;
}

.input2 {
    padding: 15px;
    display: flex;
    height: fit-content;
    width: 100%;
}

.input3 {
    padding: 15px;
    display: flex;
    height: fit-content;
    width: 100%;
}

.input4 {
    padding: 15px;
    display: flex;
    height: fit-content;
}

.boton {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #fd3c3d;
    box-shadow: none;
    padding: 10px 59px 6px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    border: 2px solid #fd3c3d;
    height: fit-content;
    width: 24%;
 }

 button:hover {
    background-color: transparent;
    color: #fd3c3d;
    transition-duration: 400ms
    

 }


/* ------------------------------------------ form end ------------------------------------------*/

/* ------------------------------------------ footer ------------------------------------------*/

.footersize {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    width: 100%;
}

.footercontainer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
 .footerinfo {
     display: flex;
     justify-content: space-around;
     flex-direction: row;
     padding: 0 20px;
     width: 100%;
 }

 .icon {
    display: flex; 
    padding: 25px 15px;
    flex-direction: column;
    width: 100%;
    margin: 0 15px;

    
 }
 .icon:hover {
     background-color:#13151a;
     transition-duration: 400ms
 }

 /* ion-icon 
    height: 17px;
    color: #fd3c3d;
    font-size: 45px;
    font-weight: 400;
    line-height: 41px;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;

 }*/
 
 .text {
    display: flex; 
    text-align: center;
     flex-direction: column;
    
 }

 h3 {
    color: white;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 20px 0;
    margin: 0;
 }

 .icon a {
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    width: 100%;
    margin-bottom: 0;
 }

 .icon a:hover {
     color: #fd3c3d;
     transition-duration: 400ms;
 }

 .iconos {
     font-size: 40px;
     color: #fd3c3d;
 }

/* ------------------------------------------ footer end ------------------------------------------*/
