/* 

*/

:root {
    --fondo: rgb(57, 62, 70);
    --colorTitulos:rgb(255, 211, 105);
    --colorTextos:rgb(238, 238, 238);

    --fuenteUno: 'Saira Condensed', sans-serif;
    --fuenteDos: 'Merriweather Sans', sans-serif;
}

body {
    background-color: var(--fondo)
}

#Titulo1 {
    color: var(--colorTitulos);
    font-family: var(--fuenteUno);
    font-size: 30px;
    font-weight: 700;
    
}

#Titulo2 {
    color: var(--colorTextos);
    font-family: var(--fuenteUno);
    font-size: 30px;
    font-weight: 300;
}

li {
    list-style: none;
    
}

li a{
    text-decoration: none;
    font-size: 24px;
    color: var(--colorTextos);
    font-family: var(--fuenteDos);
    list-style: none
}

#Titulo3 {
    font-family: var(--fuenteUno);
    font-size: 45px;
    font-weight: 700;
    color: var(--colorTitulos);
}

.Caja {
    list-style: none;
    font-family: var(--fuenteUno);
    font-weight: 300;
    font-size: 24px;
    color: var(--colorTextos);

}

p {
    font-size: 23px;
    font-family: var(--fuenteDos);
    font-weight: 500;
    color: var(--colorTextos);
}

h1 {
    font-family: var(--fuenteUno);
    color: var(--colorTitulos);
   

}

a {
    font-family: var(--fuenteUno);
    list-style: none;
    text-decoration: none;
    color: var(--colorTextos);
}

.Cuestionario {
    font-family: var(--fuenteUno);
    color: var(--colorTextos);

}


